.container {
  padding: 1rem;
}

.ticketsContainer {
  padding: 2.1rem;
}

.date {
  font-size: 1rem;
  color: #37aeab;
}

.noTickets {
  margin-top: 4rem;
  text-align: center;
}

h3 {
  color: #f56b9a;
}

.paragraph {
  font-family: "Fira Sans";
  font-style: italic;
  font-size: 1.2rem;
  line-height: 23px;
  text-align: center;
  width: 70%;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
}
