.eventInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h2 {
  font-family: "Sansita";
  font-style: italic;
  font-weight: 700;
  font-size: 2.2rem;
  color: #f56b9a;
}

.time {
  color: #37aeab;
  font-weight: 700;
  font-size: 1.2rem;
}

.place {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

.eventInfoSection {
  border: 2px solid #f56b9a;
  border-radius: 3px;
  margin-top: 5rem;
  min-width: 230px;
}

.h3 {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #ffffff;
  text-shadow: 1px 1px 0px #f56b9a;
  padding: 1rem;
}

.amountSection {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-top: 2px solid #f56b9a;
  font-family: "Fria Sans", sans-serif;
  font-size: 28px;
}

.amountSection button:first-child {
  border-right: 2px solid #f56b9a;
}
.amountSection button:last-child {
  border-left: 2px solid #f56b9a;
}

.button {
  appearance: none;
  background-color: transparent;
  color: white;
  font-family: "Fria Sans", sans-serif;
  font-size: 28px;
  line-height: 34px;
  border: none;
}
