* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #231f42;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --heading-color-main: rgba(245, 107, 154, 1);
}

a {
  text-decoration: none;
  color: #f56b9a;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #231f42;
}

h1 {
  font-family: "Sansita";
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #f56b9a;
  text-shadow: 1px 1px 0px #000000;
}

.active div {
  background-color: white;
}
